---
layout: default
---

{{ content }}

<h2>Latest Posts</h2>

<br>

<ul class="post-list">
{%- for post in site.posts -%}
  <li>

    <div class="row content-row">
      
      
      <div class="col-3">
        
        <! –– THUMBNAIL ––> 
        <img class="thumbnail" src={{ post.thumbnail }}>
        
      </div>
      
      
      <div class="col-9">
      
        <! ––– DATE –––>
        {%- assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta" style="font-size: 1.25em">{{ post.date | date: date_format }}</span>

        <! ––– TITLE –––>
        <h2 style="font-size:3em;"> 
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

          <! ––– EXCERPT –––>
        <h4 style="font-size:1em;"> 
          <span style="color:#BEBEBE">{{ post.excerpt | markdownify | truncatewords: 50 }}</span>
        </h4>
      </div>
    </div>
    
  </li>
{%- endfor -%}
</ul>
