---
layout: default
---

{{ content }}

<h2>Latest Posts</h2>

<br>

<ul class="post-list">
{%- for post in site.posts -%}
  <li>

    <div class="row content-row">
      
      
      <div class="col-3">
        
        <! –– THUMBNAIL ––> 
        <a href="{{ post.url | relative_url }}">
          <img class="thumbnail" src={{ post.thumbnail }}>
        </a>
        
      </div>
      
      
      <div class="col-9">
      
        <! ––– DATE –––>
        {%- assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" -%}
        <span style="color:#737373">
          <span class="post-meta" style="font-size: 20px">
            {{ post.date | date: date_format }}
          </span>
        </span>

        <! ––– TITLE –––>
        <h2 style="font-size: 35px;"> 
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

          <! ––– EXCERPT –––>
        <span style="font-size: 25px;"> 
          <span style="color:#737373">
            <span style="font-weight:normal">
              {{ post.excerpt | markdownify | truncatewords: 50 }}
            </span>
          </span>
        </span>
      </div>
    </div>
    
  </li>
{%- endfor -%}
</ul>
